div.block-google_form hr {
  display: none;
}
div.block-google_form div.ss-footer-links {
  display: none;
}

div.block-google_form div.errorbox-bad {
  border-right: 2px solid #E81818;
  border-bottom: 2px solid #E81818;
  padding: 0px 0px 5px 0px;
}

div.block-google_form label {
  display: block;
  font-weight: bold;
}
div.block-google_form label + label {
  font-weight: normal;
  font-style: italic;
}

div.block-google_form div.ss-section-description {
  font-style: italic;
}

div.block-google_form input {
  display: block;
}
div.block-google_form input[type=text] {
  width: 75%;
}

div.block-google_form *.ss-required-asterisk {
  color: #E81818;
}
div.block-google_form div.ss-legal span {
  display: block;
}
